
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .para{
    font-size: 13px;
  }
  .welcome-section {
    flex: 0 0 40%; /* Adjust this value to your desired width */
    height: 100%;
    background-color: #283593;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }
  
  .welcome-section h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
  
  .welcome-section p {
    font-size: 1.2em;
  }
  
  .login-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .head{
    margin-bottom: 40px;
  }
  
  .login-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    padding: 100px;
    text-align: center;
  }
  
  .login-card h2 {
    margin-bottom: 20px;
  }
  
  .fixed-size-image {
    width: 40px;
    margin-bottom: 30px;
    height: auto; /* Keeps the aspect ratio */
  }
  

  .google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebeced;
    color: rgb(18, 17, 17);
    border: none;
    border-radius: 14px;
    padding: 10px 35px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  .google-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .logout-btn {
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .logout-btn:hover,
  .google-btn:hover {
    opacity: 0.8;
  }
  